:root {
    --main-color: rgb(41, 60, 120);
    --main-color-dark: #0b1f64;
}


.App {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-color-dark);
}

button {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

/* ------NAVIGATION------ */
nav {
    background-color: var(--main-color);
    height: 100vh;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

nav a, nav a:hover {
    display: block;
    position: relative;
    color: white;
    text-decoration: none;
    padding: 1em;
}

.navlinks a:hover {
    background-color: var(--main-color-dark);
}

.navlinks a:hover::after {
    content: "";
    position: absolute;
    background-color: forestgreen;
    width: 5px;
    left: 0;
    top: 0;
    bottom: 0;
}

/*------MAIN SECTION------*/
nav + div {
    margin-left: 20%;
}

.card {
    box-sizing: border-box;
    margin: 3em 1em auto 25%; /*take into account the navbar*/
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 70%;
}

/* Title and buttons */
.cardTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonsSet button {
    background-color: transparent;
    color: var(--main-color);
    font-weight: bold;
    border: 1px var(--main-color-dark) solid;
    border-radius: 26px;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 0 1em;
}

.buttonsSet button:last-child, .buttonsSet button:last-child a {
    text-decoration: none;
    background-color: var(--main-color-dark);
    color: white;
}

/*------TABLE------*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

th {
    text-transform: capitalize;
    padding: 8px;
}

td, th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
}

td {
    padding: 1.5em 1em;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
}

.pagination button {
    margin: 5px;
    border: none;
    background-color: transparent;
    font-size: 1em;
    color: var(--main-color);
    font-weight: bold;
}

/* Form CSS */
form > div {
    display: flex;
}

form > div > h3 {
    width: 30%;
}