:root {
    --main-color: rgb(41, 60, 120);
    --main-color-dark: #0b1f64;
    --highlight: #8ac640
}


.App {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-color-dark);
}

button {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

i.downArrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* ------NAVIGATION------ */
nav {
    background-color: var(--main-color);
    height: 100vh;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

nav a, nav a:hover {
    display: block;
    position: relative;
    color: white;
    text-decoration: none;
    padding: 1em;
}

.navlinks a:hover, .navlinks a:focus, .activelink {
    background-color: var(--main-color-dark);
}

.navlinks a:hover::after, .navlinks a:focus::after, .activelink::after {
    content: "";
    position: absolute;
    background-color: var(--highlight);
    width: 5px;
    left: 0;
    top: 0;
    bottom: 0;
}

/*------MAIN SECTION------*/
nav + div {
    margin-left: 20%;
}

.card {
    box-sizing: border-box;
    margin: 3em 1em 3em 25%; /*take into account the navbar*/
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 70%;
}

/* Title and buttons */
.cardTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonsSet button {
    background-color: transparent;
    color: var(--main-color);
    font-weight: bold;
    border: 1px var(--main-color-dark) solid;
    border-radius: 26px;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 0 1em;
}

.buttonsSet button:last-child, .buttonsSet button:last-child a {
    text-decoration: none;
    background-color: var(--main-color-dark);
    color: white;
}

/*------FILTERS------*/
.filters {
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 2em 1em;
    margin: 0 -1em;
}

.filters h4 {
    display: inline;
}

.filters > * {
    margin: 0 5% 0 0;
}

.filters select {
    border-color: var(--main-color);
    border-radius: 5px;
    color: var(--main-color);
    padding: 5px;
    cursor: pointer;
}

.filters input {
    border: 2px solid #e6e6e6;
    border-radius: 5px;
    padding: 1em 0.5em;
    width: 35%;
}

.filters span {
    position: relative;
}

.filters span::after {
    content: "";
    display: block;
    background: url('/search.png') 0 0 no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    height: 20px;
    width: 20px;
    pointer-events: none;

    position: absolute;
    top: 3px;
    right: 20px;
}

/*------TABLE------*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 20px auto;
    width: 100%;
}

th {
    text-transform: capitalize;
    padding: 8px;
    color: var(--main-color);
}

td, th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
}

td {
    padding: 1.5em 1em 1.5em 8px;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
}

.pagination button {
    margin: 5px;
    border: none;
    background-color: transparent;
    font-size: 1em;
    color: var(--main-color);
    font-weight: bold;
}

/* Form CSS */
.sections {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    text-align: center;
}

.sections span {
    cursor: pointer;
    padding: 0 0 0.5em 0;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    color: #b3b3b3;
    margin: 15px 0;
}

span.currentTab {
    color: #53575c;
}

.sections span::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--highlight);
    transition: width ease-in 0.3s;
}

.currentTab::after, .sections span:hover::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--highlight);
}

form > div > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

form > div > div:not(:last-child) {
    border-bottom: 1px solid #e6e6e6;
    padding: 30px 0;
}

form > div > div:only-child {
    padding: 30px 0 0 0;
}

form .inputs {
    width: 50%;
}

form input, form select, form textarea {
    box-sizing: border-box;
    padding: 10px;
    width: 90%;
    border: #e6e6e6 2px solid;
    border-radius: 10px;
    margin-bottom: 20px;
    resize: none;
    font-family: arial, sans-serif;
}

form input[type=checkbox] {
    width: initial;
}

form input[type=file] {
    height: 150px;
    border-style: dashed;
}

form .multiSelect {
    width: 90%;
    box-sizing: border-box;
    position: relative;
}

form .multiSelect .multiSelectTop {
    border: #e6e6e6 solid 1px;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch
}

.selectedBox {
    padding: 10px;
    width: calc(100% - 20px);
}

.dropdownButton {
    width: 20px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    align-self: center;
}

form .multiSelect .selected {
    background-color: var(--highlight);
    color: white;
    padding: 3px 5px;
    border-radius: 2px;
    margin: 0 5px 5px 0;
    white-space: nowrap;
}

form .multiSelect .selected input[type=button] {
    border: none;
    padding: 0;
    color: white;
    display: inline-block;
    background-color: transparent;
    width: initial;
    cursor: pointer;
    padding: 3px 3px 3px 7px;
}

form .multiSelect input {
    margin: 10px 0 0 0;
}

form .multiSelect .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #e6e6e6 solid 1px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
}

form .multiSelect ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    border-top: #e6e6e6 solid 1px;
}

form .multiSelect ul li {
    padding: 10px 0 10px 5%;
}

form .multiSelect ul li:hover {
    background-color: var(--highlight);
    color: white;
    cursor: pointer;
}

.split {
    display: inline-flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 90%;
}

.split * {
    width: initial;
}

.split > div {
    width: 45%;
}

.split > div > * {
    width: 100%;
    min-width: 70px !important;
}

form div > h3 {
    width: 30%;
    margin-top: 0;
}

.formHelper {
    font-size: 0.8em;
    font-style: italic;
}

/*------ERROR PAGE------*/
.error {
    text-align: center;
}

.error h1 {
    font-size: 60px;
}

/*------ANIMATIONS------*/
@font-face {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

.sign {
    letter-spacing: 5px;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 6em;
    color: #B0C3FF;
    text-shadow: 0 0 0.6rem #B0C3FF, 0 0 1.5rem #293C78, -0.2rem 0.1rem 1rem #293C78, 0.2rem 0.1rem 1rem #293C78, 0 -0.5rem 2rem #0B1F64, 0 0.5rem 3rem #0B1F64;
    animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
    0%, 22%, 36%, 75% {
        color: #B0C3FF;
        text-shadow: 0 0 0.6rem #B0C3FF, 0 0 1.5rem #293C78, -0.2rem 0.1rem 1rem #293C78, 0.2rem 0.1rem 1rem #293C78, 0 -0.5rem 2rem #0B1F64, 0 0.5rem 3rem #0B1F64;
    }

    28%, 33% {
        color: #293C78;
        text-shadow: none;
    }

    82%, 97% {
        color: #0B1F64;
        text-shadow: none;
    }
}

.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
    0% {
        color: #6b1839;
        text-shadow: none;
    }

    100% {
        color: #B0C3FF;
        text-shadow: 0 0 0.6rem #B0C3FF, 0 0 1.5rem #293C78, -0.2rem 0.1rem 1rem #293C78, 0.2rem 0.1rem 1rem #293C78, 0 -0.5rem 2rem #0B1F64, 0 0.5rem 3rem #0B1F64;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }

    4% {
        opacity: 0.9;
    }

    6% {
        opacity: 0.85;
    }

    8% {
        opacity: 0.95;
    }

    10% {
        opacity: 0.9;
    }

    11% {
        opacity: 0.922;
    }

    12% {
        opacity: 0.9;
    }

    14% {
        opacity: 0.95;
    }

    16% {
        opacity: 0.98;
    }

    17% {
        opacity: 0.9;
    }

    19% {
        opacity: 0.93;
    }

    20% {
        opacity: 0.99;
    }

    24% {
        opacity: 1;
    }

    26% {
        opacity: 0.94;
    }

    28% {
        opacity: 0.98;
    }

    37% {
        opacity: 0.93;
    }

    38% {
        opacity: 0.5;
    }

    39% {
        opacity: 0.96;
    }

    42% {
        opacity: 1;
    }

    44% {
        opacity: 0.97;
    }

    46% {
        opacity: 0.94;
    }

    56% {
        opacity: 0.9;
    }

    58% {
        opacity: 0.9;
    }

    60% {
        opacity: 0.99;
    }

    68% {
        opacity: 1;
    }

    70% {
        opacity: 0.9;
    }

    72% {
        opacity: 0.95;
    }

    93% {
        opacity: 0.93;
    }

    95% {
        opacity: 0.95;
    }

    97% {
        opacity: 0.93;
    }

    to {
        opacity: 1;
    }
}
